*.face
*.neigh
*.node
*.vtk
*.edge
*.ele
*.o
*.mod
*.vol
*.h
*.pyc

out*
data/data_empymod/*
empymod*
*.egg-info/
__pycache__/

!io/outputs/
!docs/source/outputs.md

docs/_build*
docs/elfe3D_README.md
elfe3d_gpr